* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  list-style-type: none;
}

.heading h2 {
  color: #fff;
  font-size: 30px;
}

.leaderboard {
  display: flex;
  justify-content: center;
  height: 100vh;
  gap: 100px;
  padding-top: 5%;
  background-color: #000;
}

.heading {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
}

.btn {
  padding: 6px;
}

#list {
  width: 100%;
}

.score {
  padding: 14px;
  width: 35vw;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 10px;
}

#list .score {
  background-color: #fff;
}

.right {
  display: flex;
  flex-direction: column;
}

.myForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

input {
  padding: 11px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 15px;
}

.submitBtn {
  width: 40%;
  align-self: flex-end;
  padding: 5px;
  font-size: 16px;
  background-color: #fff;
}
